* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  background-image: linear-gradient(to right, #434343 0%, rgb(50, 51, 57) 100%);
  background-blend-mode: multiply, multiply;
  color: var(--color-black);
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
  text-align: center;
}

input,
button {
  font-size: 1em;
}
